REACT_APP_FIREBASE_API=AIzaSyC0BklSp_m_ztzFb9pddRWtR6r2QpkQsWI
REACT_APP_FIREBASE_AUTHDOMAIN=fitness-app-2023.firebaseapp.com
REACT_APP_PROJECTID=fitness-app-2023
REACT_APP_FIREBASE_STORAGE_BUCKET=fitness-app-2023.appspot.com
REACT_APP_FIREBASE_MEASURMENTID=336327718015
REACT_APP_FIREBASE_APPID=1:336327718015:web:18223d5a0515033e443b4a
REACT_APP_FIREBASE_MESSAGEINGSENDERID=G-QJS5066VVL